
<div class=" content">
  <div class="row" >
    <div class=" col-12">
      <div class=" card card-chart">
        <div>
          <div class="row">

            <div class=" col-sm-6">
            </div>
          </div>
        </div>
        <!-- <div class="main-banner-img">
          <div class="main-h1-tag">
            <h1 style="    color: rgb(255, 255, 255);
             font-size: 50px;
    max-width: 431px !important;
    font-family: Titan One, sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 97px;">
              Stake LP tokens to earn BANANA With ChampSwap
            </h1>
          </div>
        </div> -->

       
          
      </div>

      <section class="section-animation">
        <div class="ha">
          <span class="mainspm">IAO: Initial Ape Offerings</span> <br> 
          <h4>Buy new tokens by staking APE-LP.</h4>
        </div>
        
      </section>
      <hr style="background: #c23564;">
      <!-- <div class="container">
        <div class="row">
          <div class="col-lg-12 search">
            <div class="search-top-section">
              <div class="row d-flex justify-content-md-around mr-5">
                <div class="search-input">
                  <label style="    width: 65px;">Search</label>
                  <input  type="text" class="inpu-search" value="">
                  <img style="    position: absolute;
                  top: 23px;
                  width: 32px;
                  height: 25px;
                  margin-left: -38px;" src="../../../assets/img/ico/search.svg">
                </div>
                <input type="checkbox" class="toggle">
                <div class="form-group">
                  <input type="checkbox" id="html">
                  <label for="html">Stacked</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <section>
      <div class="tabs">

        <div class="col-lg-9 tabbed">
          <ul class="tab-links">
            <li class="active"><a href="#tab1">&nbsp;   IAO</a></li>
            <li><a href="#tab2">&nbsp; Past IAO's</a></li>

        </ul>
        </div>
       
          <div class="tab-content">
              <div id="tab1" class="tab active">
                <section class="zap-sec">
                  <div class="container mt-5">
                    <div class="row d-flex justify-content-center ">
                      <div class="col-lg-4 mb-5">
                        <div class="card  zap-card">
                          <div class="card-body">
                            <div class="inner-card">
                              <div class="inner-text">
                               <img src="../../../assets/img/ico/hifi-bg.svg">
                                <hr style="background: white;">
                              </div>
                              <div class="inner-img">
                                <img style="    width: 147px;
                                height: 45px;" src="../../../assets/img/ico/hifi-bg.svg">
                              </div>
                              
                              <div class="inner-text-spn">
                                <h4 style="color: #c23564;;">Decentralized retro gaming ecosystem.</h4>
                              </div>
                            </div>
                            <!-- <button style="    display: flex;
                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button> -->
                                  <div class="progress2 progress-moved">
                                    <div class="progress-bar2"></div>
                                    <div class="loader" style="--n: 1; --f: 0;    position: absolute;
                                        bottom: 241px;
    left: 258px;font-size:24px"></div>
                                  </div>
          
                            <div class="main-inner-second-col">
                                <h3 style="    text-align: center;    margin-top: 14px;">Finished!</h3>
                                     <button style="    display: flex;
                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>

<div class="input-group">
  <input type="text" class="form-control" style="background: white;" name="email" placeholder="Enter your email">

  <span class="input-group-btn">
       <button class="btn btn-default"  style="width: 82px;" type="button">Claim</button>
  </span>
</div>
                              <div class="first-row">
                                <div class="first-val-col" style="color: green;">
                                  Your Stake:
                                </div>
                                <div class="first-val-col ml-2">
                                  0.0000
                                </div>
                              </div>
                            </div>
                            <hr style="background: white;">
                            <div class="visit">
                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                            </div>
                          </div>
                        </div>
                      </div>
               
                    </div>
                  </div>
                </section>

                <hr style="background: white;"> 

                <div class="container mt-5">
                  <div class="row">
                    <div class="col-lg-6">
                        <h2 style="color:#c23564 ;">How To Take Part ?</h2>

                        <ul> 
                          <h3> Before Sale:</h3>
                          <li class="ml-3">Get BNB tokens</li>
                        </ul>
                        <ul>
                          <h3 style="list-style-type: circle;"> During Sale:</h3>
                          <li class="ml-3">While the sale is live, commit your BNB tokens to buy the IAO tokens</li>
                        </ul>
                        <ul>
                          <h3 style="list-style-type: circle;"> After Sale:</h3>
                          <li class="ml-3">Claim the tokens you bought, along with any unspent funds.</li>
                          <li class="ml-3">Done!</li>
                        </ul>

                        <button style="    display: flex;
                         " class="btn btn-primary mt-5">Read More</button>
                        

                    </div>
                    <div class="col-lg-6">
                        <img src="../../../assets/img/ico/champ/chmp222.png"> 
                        <h2 style="color: #c23564;margin-bottom:20px;" class="mt-4">Want to launch your own IAO?</h2>
                        <span style="color:white;margin-bottom:20px;">Launch your project with ApeSwap, Binance Smart Chain’s most-loved AMM project, to bring your token directly to the most active and rapidly growing ape community on BSC.</span>
                        <button style="    display: flex;
                    " class="btn btn-primary mt-4">Apply To Launch</button>
                    </div>
                  </div>
                </div>
              </div>
       
              <div id="tab2" class="tab">
                <section class="zap-sec">
                  <div class="container mt-5">
                    <div class="row d-flex justify-content-center ">
                      <div class="col-lg-4 mb-5">
                        <div class="card  zap-card">
                          <div class="card-body">
                            <div class="inner-card">
                              <div class="inner-text">
                               <img src="../../../assets/img/ico/hifi-bg.svg">
                                <hr style="background: white;">
                              </div>
                              <div class="inner-img">
                                <img style="    width: 147px;
                                height: 45px;" src="../../../assets/img/ico/hifi-bg.svg">
                              </div>
                              
                              <div class="inner-text-spn">
                                <h4 style="color: #c23564;;">Decentralized retro gaming ecosystem.</h4>
                              </div>
                            </div>
                            <!-- <button style="    display: flex;
                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button> -->
                                  <div class="progress2 progress-moved">
                                    <div class="progress-bar2"></div>
                                    <div class="loader" style="--n: 1; --f: 0;    position: absolute;
                                        bottom: 241px;
    left: 258px;font-size:24px"></div>
                                  </div>
          
                            <div class="main-inner-second-col">
                                <h3 style="    text-align: center;    margin-top: 14px;">Finished!</h3>
                                     <button style="    display: flex;
                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>

<div class="input-group">
  <input type="text" class="form-control" style="background: white;" name="email" placeholder="Enter your email">

  <span class="input-group-btn">
       <button class="btn btn-default"  style="width: 82px;" type="button">Claim</button>
  </span>
</div>
                              <div class="first-row">
                                <div class="first-val-col" style="color: green;">
                                  Your Stake:
                                </div>
                                <div class="first-val-col ml-2">
                                  0.0000
                                </div>
                              </div>
                            </div>
                            <hr style="background: white;">
                            <div class="visit">
                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 mb-5">
                        <div class="card  zap-card">
                          <div class="card-body">
                            <div class="inner-card">
                              <div class="inner-text">
                               <img src="../../../assets/img/ico/hifi-bg.svg">
                                <hr style="background: white;">
                              </div>
                              <div class="inner-img">
                                <img style="    width: 147px;
                                height: 45px;" src="../../../assets/img/ico/hifi-bg.svg">
                              </div>
                              
                              <div class="inner-text-spn">
                                <h4 style="color: #c23564;;">Decentralized retro gaming ecosystem.</h4>
                              </div>
                            </div>
                            <!-- <button style="    display: flex;
                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button> -->
                                  <div class="progress2 progress-moved">
                                    <div class="progress-bar2"></div>
                                    <div class="loader" style="--n: 1; --f: 0;    position: absolute;
                                        bottom: 241px;
    left: 258px;font-size:24px"></div>
                                  </div>
          
                            <div class="main-inner-second-col">
                                <h3 style="    text-align: center;    margin-top: 14px;">Finished!</h3>
                                     <button style="    display: flex;
                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>

<div class="input-group">
  <input type="text" class="form-control" style="background: white;" name="email" placeholder="Enter your email">

  <span class="input-group-btn">
       <button class="btn btn-default"  style="width: 82px;" type="button">Claim</button>
  </span>
</div>
                              <div class="first-row">
                                <div class="first-val-col" style="color: green;">
                                  Your Stake:
                                </div>
                                <div class="first-val-col ml-2">
                                  0.0000
                                </div>
                              </div>
                            </div>
                            <hr style="background: white;">
                            <div class="visit">
                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                            </div>
                          </div>
                        </div>
                      </div>
               
                    </div>
                  </div>
                </section>
              
              </div>
       
        
       
      
          </div>
      
      </div>
      
      </section>

  </div>
  

