
<div class=" content">
  <div class="row" >
    <div class=" col-12">
      <div class=" card card-chart">
        <div>
          <div class="row">

            <div class=" col-sm-6">
            </div>
          </div>
        </div>
        <!-- <div class="main-banner-img">
          <div class="main-h1-tag">
            <h1 style="    color: rgb(255, 255, 255);
             font-size: 50px;
    max-width: 431px !important;
    font-family: Titan One, sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 97px;">
              Stake LP tokens to earn BANANA With ChampSwap
            </h1>
          </div>
        </div> -->

       
          
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 style=" color: rgb(255, 255, 255);
            font-size: 50px;
   max-width: 431px !important;
   font-family: Titan One, sans-serif;
   display: flex;
   justify-content: center;
   margin: auto;
   margin-top: 97px;">ChampSwap Fiesta</h1>

            <ul style="list-style-type:none;" class="ml-3 mt-3" >
              <li>Stake Your Champs Earn New Tokens</li>
              <li>Unstake It Anytime</li>
              <li>Get Rewards</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <img src="../../../assets/img/ico/bandar_image.png">
          </div>
        </div>
      </div>
      <hr style="background: #c23564;">
      <!-- <div class="container">
        <div class="row">
          <div class="col-lg-12 search">
            <div class="search-top-section">
              <div class="row d-flex justify-content-md-around mr-5">
                <div class="search-input">
                  <label style="    width: 65px;">Search</label>
                  <input  type="text" class="inpu-search" value="">
                  <img style="    position: absolute;
                  top: 23px;
                  width: 32px;
                  height: 25px;
                  margin-left: -38px;" src="../../../assets/img/ico/search.svg">
                </div>
                <input type="checkbox" class="toggle">
                <div class="form-group">
                  <input type="checkbox" id="html">
                  <label for="html">Stacked</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <section>
      <div class="tabs">

        <div class="col-lg-9 tabbed">
          <ul class="tab-links">
            <li class="active"><a href="#tab1"><i class="tim-icons icon-bulb-63"></i> &nbsp;    Active</a></li>
            <li><a href="#tab2"> <i class="tim-icons icon-simple-remove"></i> &nbsp; Inactive</a></li>

        </ul>
        </div>
       
          <div class="tab-content">
              <div id="tab1" class="tab active">
                <section class="zap-sec">
                  <div class="container mt-5">
                    <div class="row d-flex justify-content-center ">
                      <div class="col-lg-4">
                        <div class="card  zap-card">
                          <div class="card-body">
                            <div class="inner-card">
                              <div class="inner-text">
                                <h2 style="color: #c23564;">Sushi Pool</h2>
                                <hr style="background: white;">
                              </div>
                              <div class="inner-img">
                                <img style="    width: 112px;" src="../../../assets/img/ico/sushiswap.png">
                              </div>
                               <div class="inner-text">
                                <h2>0.0000</h2>
                              </div>
                              <div class="inner-text-spn">
                                <h4 style="color: #c23564;;">Sushi Earned</h4>
                              </div>
                            </div>
                            <button style="    display: flex;
                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
          
                            <div class="main-inner-second-col">
                              <div class="first-row">
                                <div class="first-val-col" style="width: 56px;color: green;">
                                  APR:
                                </div>
                                <div class="first-val-col">
                                  120.49%
                                </div>
                              </div>
                              <div class="first-row">
                                <div class="first-val-col" style="color: green;">
                                  Your Stake:
                                </div>
                                <div class="first-val-col ml-2">
                                  0.0000
                                </div>
                              </div>
                            </div>
                            <hr style="background: white;">
                            <div class="visit">
                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card  zap-card">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                  <h2 style="color: #c23564;">Alchemix Pool</h2>
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 112px;" src="../../../assets/img/ico/alchemix.png">
                                </div>
                                 <div class="inner-text">
                                  <h2>0.0000</h2>
                                </div>
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">Alchemix Earned</h4>
                                </div>
                              </div>
                              <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
            
                              <div class="main-inner-second-col">
                                <div class="first-row">
                                  <div class="first-val-col" style="width: 56px;color: green;">
                                    APR:
                                  </div>
                                  <div class="first-val-col">
                                    120.49%
                                  </div>
                                </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card  zap-card">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                  <h2 style="color: #c23564;">DyDx Pool</h2>
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 112px;" src="../../../assets/img/ico/dydx.png">
                                </div>
                                 <div class="inner-text">
                                  <h2>0.0000</h2>
                                </div>
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">DyDx Earned</h4>
                                </div>
                              </div>
                              <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
            
                              <div class="main-inner-second-col">
                                <div class="first-row">
                                  <div class="first-val-col" style="width: 56px;color: green;">
                                    APR:
                                  </div>
                                  <div class="first-val-col">
                                    120.49%
                                  </div>
                                </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>  
                    </div>
                  </div>
                </section>
              </div>
       
              <div id="tab2" class="tab">
                <section class="zap-sec">
                  <div class="container mt-5">
                    <div class="row d-flex justify-content-center ">
                      <div class="col-lg-4">
                        <div class="card  zap-card">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                  <h2 style="color: #c23564;">Paraswapio Pool</h2>
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 112px;" src="../../../assets/img/ico/paraswapio.png">
                                </div>
                                 <div class="inner-text">
                                  <h2>0.0000</h2>
                                </div>
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">Paraswapio Earned</h4>
                                </div>
                              </div>
                              <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
            
                              <div class="main-inner-second-col">
                                <div class="first-row">
                                  <div class="first-val-col" style="width: 56px;color: green;">
                                    APR:
                                  </div>
                                  <div class="first-val-col">
                                    120.49%
                                  </div>
                                </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card  zap-card">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                  <h2 style="color: #c23564;">Dodov2 Pool</h2>
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 112px;" src="../../../assets/img/ico/dodov2.png">
                                </div>
                                 <div class="inner-text">
                                  <h2>0.0000</h2>
                                </div>
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">Dodov2 Earned</h4>
                                </div>
                              </div>
                              <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
            
                              <div class="main-inner-second-col">
                                <div class="first-row">
                                  <div class="first-val-col" style="width: 56px;color: green;">
                                    APR:
                                  </div>
                                  <div class="first-val-col">
                                    120.49%
                                  </div>
                                </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="card  zap-card">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                  <h2 style="color: #c23564;">Tokenlon Pool</h2>
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 112px;" src="../../../assets/img/ico/tokenlon.png">
                                </div>
                                 <div class="inner-text">
                                  <h2>0.0000</h2>
                                </div>
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">Tokenlon Earned</h4>
                                </div>
                              </div>
                              <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
            
                              <div class="main-inner-second-col">
                                <div class="first-row">
                                  <div class="first-val-col" style="width: 56px;color: green;">
                                    APR:
                                  </div>
                                  <div class="first-val-col">
                                    120.49%
                                  </div>
                                </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>  
                    </div>
                  </div>
                </section>
              
              </div>
       
        
       
      
          </div>
      
      </div>
      
      </section>

  </div>
  

