
<div class=" content">
  <div class="row" >
    <div class=" col-12">
      <div class=" card card-chart">
        <div>
          <div class="row">

            <div class=" col-sm-6">
            </div>
          </div>
        </div>
        <div class="main-banner-img" id="canvas" >
          <div class="main-h1-tag">
            <h1 style="    color: rgb(255, 255, 255);
             font-size: 50px;
    max-width: 431px !important;
    font-family: Titan One, sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 97px;">
              Stake LP tokens to earn BANANA With ChampSwap
            </h1>
          </div>
          <!-- <img src="../../../assets/img/ico/34735.jpg"> -->
        </div>
          
      </div>

  </div>
  

