
<div class=" content">
  <div class="row" >
    <div class=" col-12">
      <div class=" card card-chart">
        <div>
          <div class="row">

            <div class=" col-sm-6">
            </div>
          </div>
        </div>
        <div class="main-banner-img">
          <div class="main-h1-tag">
            <h1 class="main-h1" >
              Stake LP tokens to earn BANANA With ChampSwap
            </h1>
          </div>
          <!-- <img src="../../../assets/img/ico/34735.jpg"> -->
        </div>

       
          
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 search">
            <div class="search-top-section">
              <div class="row d-flex justify-content-md-around mr-5">
                <div class="search-input">
                  <label style="    width: 65px;">Search</label>
                  <input  type="text" class="inpu-search" value="">
                  <img  class="image-search" src="../../../assets/img/ico/search.svg">
                </div>
                <div class="main-inner">
                <input type="checkbox" class="toggle">
                <div class="form-group">
                  <input type="checkbox" id="html">
                  <label for="html">Stacked</label>
                </div>

                
            </div>
          </div>
      
        </div>
      </div>
    </div>

          
    <div>
      <!-- Tab items -->
        <div class="tabs">

          <div class="col-lg-9 tabbed">
            <ul class="tab-links">
              <li class="active"><a href="#tab1"><i class="tim-icons icon-sound-wave"></i> &nbsp; Hot</a></li>
              <li><a href="#tab2"> <i class="tim-icons icon-atom"></i> &nbsp; Liquidity</a></li>
              <li><a href="#tab3"><i class="tim-icons icon-align-center"></i>&nbsp; APR</a></li>
              <li><a href="#tab4"><i class="tim-icons icon-bank"></i>&nbsp; Earned</a></li>
          </ul>
          </div>
         
            <div class="tab-content">
                <div id="tab1" class="tab active">
                    <section class="zap-sec">
                      <div class="container">
                        <div class="row d-flex justify-content-center mt-4 ">
                          <div class="card zap-card" style="background: #1e1e2c;">
                            <div class="card-body">
                              <div class="question-container">
                                <div class="question">
                                  <div class="row d-flex justify-content-around align-items-center">
                                    <div class="img0">
                                      <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                    </div>
                                    <span>VBSWAP-BNB</span>
                                    <span>0.0%</span>
                                    <span>$992</span>
                                    <span style="
                                    color: white;
                                ">?</span>
                                    <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                    <i class="fas fa-arrow-down"></i>
                                  </div>
                                </div>
                                <div class="hidden">
                                  <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                  margin-top: 15px;">
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Multiplier:
                                      </div>
                                      <div class="second-value" style="color: green">
                                        0x
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Stake: VBSWAP-BNB 
                                        
                                      </div>
                                      <div class="second-value" style="color: green">
                                        LP
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Staked Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~-USD
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Earned Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~0USD
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <a style="    text-align: end;
                                  text-decoration: underline;
                                  display: flex;
                                  justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                                </div>
                              </div>

                              <div class="question-container">
                                <div class="question">
                                  <div class="row d-flex justify-content-around align-items-center">
                                    <div class="img0">
                                      <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                    </div>
                                    <span>VBSWAP-BNB</span>
                                    <span>0.0%</span>
                                    <span>$992</span>
                                    <span style="
                                    color: white;
                                ">?</span>
                                    <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                    <i class="fas fa-arrow-down"></i>
                                  </div>
                                </div>
                                <div class="hidden">
                                  <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                  margin-top: 15px;">
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Multiplier:
                                      </div>
                                      <div class="second-value" style="color: green">
                                        0x
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Stake: VBSWAP-BNB 
                                        
                                      </div>
                                      <div class="second-value" style="color: green">
                                        LP
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Staked Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~-USD
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Earned Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~0USD
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <a style="    text-align: end;
                                  text-decoration: underline;
                                  display: flex;
                                  justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                                </div>
                              </div>

                              <div class="question-container">
                                <div class="question">
                                  <div class="row d-flex justify-content-around align-items-center">
                                    <div class="img0">
                                      <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                    </div>
                                    <span>VBSWAP-BNB</span>
                                    <span>0.0%</span>
                                    <span>$992</span>
                                    <span style="
                                    color: white;
                                ">?</span>
                                    <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                    <i class="fas fa-arrow-down"></i>
                                  </div>
                                </div>
                                <div class="hidden">
                                  <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                  margin-top: 15px;">
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Multiplier:
                                      </div>
                                      <div class="second-value" style="color: green">
                                        0x
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Stake: VBSWAP-BNB 
                                        
                                      </div>
                                      <div class="second-value" style="color: green">
                                        LP
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Staked Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~-USD
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Earned Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~0USD
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <a style="    text-align: end;
                                  text-decoration: underline;
                                  display: flex;
                                  justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                                </div>
                              </div>

                              <div class="question-container">
                                <div class="question">
                                  <div class="row d-flex justify-content-around align-items-center">
                                    <div class="img0">
                                      <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                    </div>
                                    <span>VBSWAP-BNB</span>
                                    <span>0.0%</span>
                                    <span>$992</span>
                                    <span style="
                                    color: white;
                                ">?</span>
                                    <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                    <i class="fas fa-arrow-down"></i>
                                  </div>
                                </div>
                                <div class="hidden">
                                  <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                  margin-top: 15px;">
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Multiplier:
                                      </div>
                                      <div class="second-value" style="color: green">
                                        0x
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Stake: VBSWAP-BNB 
                                        
                                      </div>
                                      <div class="second-value" style="color: green">
                                        LP
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Staked Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~-USD
                                      </div>
                                    </div>
                                    <div class="first-col d-flex justify-content-center">
                                      <div class="first-value">
                                        Earned Value:
                                      </div>
                                      <div class="second-value" style="color: green;;">
                                        ~0USD
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <a style="    text-align: end;
                                  text-decoration: underline;
                                  display: flex;
                                  justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                </div>
         
                <div id="tab2" class="tab">
                  <section class="zap-sec">
                    <div class="container">
                      <div class="row d-flex justify-content-center mt-4 ">
                        <div class="card zap-card" style="background: #1e1e2c;">
                          <div class="card-body">
                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                
                </div>
         
                <div id="tab3" class="tab">
                  <section class="zap-sec">
                    <div class="container">
                      <div class="row d-flex justify-content-center mt-4 ">
                        <div class="card zap-card" style="background: #1e1e2c;">
                          <div class="card-body">
                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
  
                </div>

                <div id="tab4" class="tab">
                  <section class="zap-sec">
                    <div class="container">
                      <div class="row d-flex justify-content-center mt-4 ">
                        <div class="card zap-card" style="background: #1e1e2c;">
                          <div class="card-body">
                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>

                            <div class="question-container">
                              <div class="question">
                                <div class="row d-flex justify-content-around align-items-center">
                                  <div class="img0">
                                    <img src="../../../assets/img/ico/vbswap-bnb.svg">
                                  </div>
                                  <span>VBSWAP-BNB</span>
                                  <span>0.0%</span>
                                  <span>$992</span>
                                  <span style="
                                  color: white;
                              ">?</span>
                                  <button class="btn btn-primary mr-5">Unlock Wallet</button>
                                  <i class="fas fa-arrow-down"></i>
                                </div>
                              </div>
                              <div class="hidden">
                                <div class="inner-pannel" style="    padding-top: 10px;   border-top: 1px solid #fff;
                                margin-top: 15px;">
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Multiplier:
                                    </div>
                                    <div class="second-value" style="color: green">
                                      0x
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Stake: VBSWAP-BNB 
                                      
                                    </div>
                                    <div class="second-value" style="color: green">
                                      LP
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Staked Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~-USD
                                    </div>
                                  </div>
                                  <div class="first-col d-flex justify-content-center">
                                    <div class="first-value">
                                      Earned Value:
                                    </div>
                                    <div class="second-value" style="color: green;;">
                                      ~0USD
                                    </div>
                                    
                                  </div>
                                </div>
                                <a style="    text-align: end;
                                text-decoration: underline;
                                display: flex;
                                justify-content: center;color: green;" class="ml-4">View On BscScam</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

              </div>
         
        
            </div>
        
        </div>
        
    </div>
  </div>
  

