
<div class=" content">
    <div class="row" >
      <div class=" col-12">
        <div class=" card card-chart">
          <div>
            <div class="row">
  
              <div class=" col-sm-6">
              </div>
            </div>
          </div>
          <!-- <div class="main-banner-img">
            <div class="main-h1-tag">
              <h1 style="    color: rgb(255, 255, 255);
               font-size: 50px;
      max-width: 431px !important;
      font-family: Titan One, sans-serif;
      display: flex;
      justify-content: center;
      margin: auto;
      margin-top: 97px;">
                Stake LP tokens to earn BANANA With ChampSwap
              </h1>
            </div>
          </div> -->
  
         
            
        </div>
  
        <section class="section-animation">
          <div class="container">
            <div class="row">
            <div class="col-lg-6">
                <span class="mainspm">GOLDEN BANANA</span> <br> 
                      <h2 style="color:#fff;    margin-bottom: 5px;">What is it good for?</h2>

                      <ul> 
                        <h3 style="    margin-bottom: 5px;"> Passive Farming</h3>
                        <li class="ml-2">GNANA is a reflect token with a 2% transfer fee</li>
                      </ul>
                      <ul>
                        <h3 style="list-style-type: circle;    margin-bottom: 5px;"> Exclusive perks</h3>
                        <li class="ml-2">Gain access to GNANA only IAO allocation</li>
                      </ul>
                      <ul>
                        <h3 style="list-style-type: circle;    margin-bottom: 5px;"> Governance:</h3>
                        <li class="ml-2">GNANA is being lined up to be the official governance token of ApeSwap</li>
                      </ul>

                      <button style="    display: flex;
                       " class="btn btn-primary mt-5">Read More</button>
                      
<!-- 
                  <div class="col-lg-6">
                      <img src="../../../assets/img/ico/champ/chmp222.png"> 
                      <h2 style="color: #c23564;margin-bottom:20px;" class="mt-4">Want to launch your own IAO?</h2>
                      <span style="color:white;margin-bottom:20px;">Launch your project with ApeSwap, Binance Smart Chain’s most-loved AMM project, to bring your token directly to the most active and rapidly growing ape community on BSC.</span>
                      <button style="    display: flex;
                  " class="btn btn-primary mt-4">Apply To Launch</button>
                  </div> -->
            </div>
            <div class="col-lg-6" style="display: flex;
            justify-content: center;">
            <div class="circle">
              <img src="../../../assets/img/ico/champ/golden-banana.svg">
            </div>
            </div>
          </div>
          </div>
     
        
          
        </section>
        <hr style="background: #c23564;">
        <!-- <div class="container">
          <div class="row">
            <div class="col-lg-12 search">
              <div class="search-top-section">
                <div class="row d-flex justify-content-md-around mr-5">
                  <div class="search-input">
                    <label style="    width: 65px;">Search</label>
                    <input  type="text" class="inpu-search" value="">
                    <img style="    position: absolute;
                    top: 23px;
                    width: 32px;
                    height: 25px;
                    margin-left: -38px;" src="../../../assets/img/ico/search.svg">
                  </div>
                  <input type="checkbox" class="toggle">
                  <div class="form-group">
                    <input type="checkbox" id="html">
                    <label for="html">Stacked</label>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  
<h2 style="color: #fff;display: flex;justify-content: center;">Buy Golden Banana</h2>
      <section>
        <div class="tabs">
  
          <div class="col-lg-9 tabbed">
            <ul>
              <h2 style="margin-bottom: 5px;color: #c23564;">WARNING</h2>
              <span>Buying GNANA involves paying a 28% burn fee and a 2% reflect fee for a total cost of 30%.
                This means that for every 1 BANANA you trade in, you will receive 0.7 GNANA</span>
          </ul>
          </div>
         
            <div class="tab-content">
                <div id="tab1" class="tab active">
                  <div class="container mt-5">
                    <div class="row">
                      <div class="col-lg-6">
    
                        <div class="card card-chart" style="       height: 50vh;    margin: 0 auto; /* Added */
                        float: none; /* Added */
                        margin-bottom: 10px; /* Added */">
                          <div class=" card-header">
                            <div class="fix-baner-img">
                              <img src="../../../assets/img/ico/champ/golden-banana.svg">
                              </div>
                              <div class="fix-monkey-img">
                                <img src="../../../assets/img/pngegg.png">
                                </div>
                            <h3 class=" card-title">
                           
                              <h5 class=" card-category" style="    font-size: 24px;
                              font-family: Titan One;
                              font-weight: 400;
                              line-height: 1.1;
                              color: #fff;">Buy</h5>
                            </h3>
                          </div>
                          <div class="card-body" style="  
                          -webkit-box-pack: center;
                          justify-content: center;
                          -webkit-box-align: center;
                          align-items: center;
                          flex-direction: row;
                          margin-top: 50px;">
<label style="
display: flex;
justify-content: flex-end;
font-size: 17px;
color: white;
">0 Banana Available</label>
                            <div class="input-container">
                              <input type="text" name="banana" placeholder="0   Banana" />
                              <a href="#">
                                <div class="button"><p>Max</p></div>
                              </a>
                            </div>

                            
                      <button style="    display: flex;
                      " class="btn btn-primary mt-5 d-flex m-auto mt-lg-lg ">Approve Contract</button>
                      <div class="terms-div">
                        <small style="color:white;">OUTPUT GNANA 0.7000</small><br>
                        <small style="color:white;"> * Current max buy is 50</small><br>
                        <input type="checkbox" />
                        <small style="color:white;"> &nbsp; I understand what I am doing and want to enable unlimited buy</small>
                      </div>
                         
                        <div>
                          <!-- Tab items -->
                          <section>
                      
                            
                            </section>
                        </div>
                          </div>
                          <!-- <div class="container pb-5">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-3">
                                <button
                                class="btn btn-danger btn-block mr-4"
                                (click)="showNotification('top', 'right')"
                              >
                                Unlock Wallet
                              </button>
                              </div>
                            </div>
                          </div> -->
                          
                       
                  
                        </div>
                      </div>
                      
                      <div class="col-lg-6">
    
                        <div class="card card-chart" style="         height: 50vh;  margin: 0 auto; /* Added */
                        float: none; /* Added */
                        margin-bottom: 10px; /* Added */">
                          <div class=" card-header">
                            <div class="fix-baner-img">
                              <img src="../../../assets/img/ico/champ/golden-banana.svg">
                              </div>
                              <div class="fix-monkey-img">
                                <img src="../../../assets/img/pngegg.png">
                                </div>
                            <h3 class=" card-title">
                           
                              <h5 class=" card-category" style="    font-size: 24px;
                              font-family: Titan One;
                              font-weight: 400;
                              line-height: 1.1;
                              color: #fff;">Sell</h5>
                            </h3>
                          </div>
                          <div class="card-body" style="  
                          -webkit-box-pack: center;
                          justify-content: center;
                          -webkit-box-align: center;
                          align-items: center;
                          flex-direction: row;
                          margin-top: 50px;">
                      
                        
                        <div>
                          <!-- Tab items -->
                          <label style="
                          display: flex;
                          justify-content: flex-end;
                          font-size: 17px;
                          color: white;
                      ">0 Gnana Available</label>
                          <div class="input-container">
                            <input type="text" name="banana" placeholder="0   Ganana" />
                            <a href="#">
                              <div class="button"><p>Max</p></div>
                            </a>
                          </div>

                          
                    <button style="    display: flex;
                    " class="btn btn-primary mt-5 d-flex m-auto mt-lg-lg ">Approve Contract</button>
                    <div class="terms-div">
                      <small style="color:white;">OUTPUT BANANA 0.9800</small><br>
                      <small style="color:white;">* After 2% reflect fees</small><br>
                      <!-- <input type="checkbox" />
                      <small style="color:white;"> &nbsp; I understand what I am doing and want to enable unlimited buy</small> -->
                    </div>
                       
                        </div>
                          </div>
                          <!-- <div class="container pb-5">
                            <div class="row d-flex justify-content-center">
                              <div class="col-lg-3">
                                <button
                                class="btn btn-danger btn-block mr-4"
                                (click)="showNotification('top', 'right')"
                              >
                                Unlock Wallet
                              </button>
                              </div>
                            </div>
                          </div> -->
                          
                       
                  
                        </div>
                      </div>
                    </div>
                  </div>
              



  
                  <hr style="background: white;"> 
  
                  <div class="container mt-5">
                    <div class="row">
                      <div class="col-lg-6">
                          <h2 style="color:#c23564 ;">How To Take Part ?</h2>
  
                          <ul> 
                            <h3> Before Sale:</h3>
                            <li class="ml-3">Get BNB tokens</li>
                          </ul>
                          <ul>
                            <h3 style="list-style-type: circle;"> During Sale:</h3>
                            <li class="ml-3">While the sale is live, commit your BNB tokens to buy the IAO tokens</li>
                          </ul>
                          <ul>
                            <h3 style="list-style-type: circle;"> After Sale:</h3>
                            <li class="ml-3">Claim the tokens you bought, along with any unspent funds.</li>
                            <li class="ml-3">Done!</li>
                          </ul>
  
                          <button style="    display: flex;
                           " class="btn btn-primary mt-5">Read More</button>
                          
  
                      </div>
                      <div class="col-lg-6">
                          <img src="../../../assets/img/ico/champ/chmp222.png"> 
                          <h2 style="color: #c23564;margin-bottom:20px;" class="mt-4">Want to launch your own IAO?</h2>
                          <span style="color:white;margin-bottom:20px;">Launch your project with ApeSwap, Binance Smart Chain’s most-loved AMM project, to bring your token directly to the most active and rapidly growing ape community on BSC.</span>
                          <button style="    display: flex;
                      " class="btn btn-primary mt-4">Apply To Launch</button>
                      </div>
                    </div>
                  </div>
                </div>
         
                <div id="tab2" class="tab">
                  <section class="zap-sec">
                    <div class="container mt-5">
                      <div class="row d-flex justify-content-center ">
                        <div class="col-lg-4 mb-5">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                 <img src="../../../assets/img/ico/hifi-bg.svg">
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 147px;
                                  height: 45px;" src="../../../assets/img/ico/hifi-bg.svg">
                                </div>
                                
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">Decentralized retro gaming ecosystem.</h4>
                                </div>
                              </div>
                              <!-- <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button> -->
                                    <div class="progress2 progress-moved">
                                      <div class="progress-bar2"></div>
                                      <div class="loader" style="--n: 1; --f: 0;    position: absolute;
                                          bottom: 241px;
      left: 258px;font-size:24px"></div>
                                    </div>
            
                              <div class="main-inner-second-col">
                                  <h3 style="    text-align: center;    margin-top: 14px;">Finished!</h3>
                                       <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
  
  <div class="input-group">
    <input type="text" class="form-control" style="background: white;" name="email" placeholder="Enter your email">
  
    <span class="input-group-btn">
         <button class="btn btn-default"  style="width: 82px;" type="button">Claim</button>
    </span>
  </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
  
                        <div class="col-lg-4 mb-5">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                 <img src="../../../assets/img/ico/hifi-bg.svg">
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 147px;
                                  height: 45px;" src="../../../assets/img/ico/hifi-bg.svg">
                                </div>
                                
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">Decentralized retro gaming ecosystem.</h4>
                                </div>
                              </div>
                              <!-- <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button> -->
                                    <div class="progress2 progress-moved">
                                      <div class="progress-bar2"></div>
                                      <div class="loader" style="--n: 1; --f: 0;    position: absolute;
                                          bottom: 241px;
      left: 258px;font-size:24px"></div>
                                    </div>
            
                              <div class="main-inner-second-col">
                                  <h3 style="    text-align: center;    margin-top: 14px;">Finished!</h3>
                                       <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
  
  <div class="input-group">
    <input type="text" class="form-control" style="background: white;" name="email" placeholder="Enter your email">
  
    <span class="input-group-btn">
         <button class="btn btn-default"  style="width: 82px;" type="button">Claim</button>
    </span>
  </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                 
                      </div>
                    </div>
                  </section>
                
                </div>
         
          
         
        
            </div>
        
        </div>
        
        </section>
      <!-- oljws -->
      <section>
        <div class="tabs">
  
          <div class="col-lg-9 mt-5 tabbed">
            <ul class="tab-links">
              <li class="active"><a href="#tab1">&nbsp;   IAO</a></li>
  
          </ul>
          </div>
         
            <div class="tab-content">
                <div id="tab1" class="tab active">
                  <section class="zap-sec">
                    <div class="container mt-5">
                      <div class="row d-flex justify-content-center ">
                        <div class="col-lg-4 mb-5">
                          <div class="card  zap-card">
                            <div class="card-body">
                              <div class="inner-card">
                                <div class="inner-text">
                                 <img src="../../../assets/img/ico/hifi-bg.svg">
                                  <hr style="background: white;">
                                </div>
                                <div class="inner-img">
                                  <img style="    width: 147px;
                                  height: 45px;" src="../../../assets/img/ico/hifi-bg.svg">
                                </div>
                                
                                <div class="inner-text-spn">
                                  <h4 style="color: #c23564;;">Decentralized retro gaming ecosystem.</h4>
                                </div>
                              </div>
                              <!-- <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button> -->
                                    <div class="progress2 progress-moved">
                                      <div class="progress-bar2"></div>
                                      <div class="loader" style="--n: 1; --f: 0;    position: absolute;
                                          bottom: 241px;
      left: 258px;font-size:24px"></div>
                                    </div>
            
                              <div class="main-inner-second-col">
                                  <h3 style="    text-align: center;    margin-top: 14px;">Finished!</h3>
                                       <button style="    display: flex;
                              margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
  
  <div class="input-group">
    <input type="text" class="form-control" style="background: white;" name="email" placeholder="Enter your email">
  
    <span class="input-group-btn">
         <button class="btn btn-default"  style="width: 82px;" type="button">Claim</button>
    </span>
  </div>
                                <div class="first-row">
                                  <div class="first-val-col" style="color: green;">
                                    Your Stake:
                                  </div>
                                  <div class="first-val-col ml-2">
                                    0.0000
                                  </div>
                                </div>
                              </div>
                              <hr style="background: white;">
                              <div class="visit">
                                <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                 
                      </div>
                    </div>
                  </section>
  
                  <hr style="background: white;"> 
  
                    <div class="tabs">
                      
              
                      <div class="col-lg-9 tabbed">
                        <ul class="tab-links">
                          <li class="active"><a href="#tab1"><i class="tim-icons icon-bulb-63"></i> &nbsp;    Active</a></li>
                          <li><a href="#tab2"> <i class="tim-icons icon-simple-remove"></i> &nbsp; Inactive</a></li>
              
                      </ul>
                      </div>

                      <div class="pool-vector">
                        <div class="container mt-5">
                          <div class="row">
                            <div class="col-lg-4">
                              <img src="../../../assets/img/ico/champ/pool-ape.png">
                            </div>
                            <div class="col-lg-6  ml-auto">
                              <h2 style="font-size: 34px;">
                                Golden Banana fiesta
                              </h2>
                              <span class="spnpool">Stake GNANA to earn new tokens.
                                You can unstake at any time.
                                Rewards are calculated per block.</span>

                                <button class="btn btn-primary mt-lg">Go Down</button>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                        <div class="tab-content">
                            <div id="tab1" class="tab active">
                              <section class="zap-sec">
                                <div class="container mt-5">
                                  <div class="row d-flex justify-content-center ">
                                    <div class="col-lg-4">
                                      <div class="card  zap-card">
                                        <div class="card-body">
                                          <div class="inner-card">
                                            <div class="inner-text">
                                              <h2 style="color: #c23564;">Sushi Pool</h2>
                                              <hr style="background: white;">
                                            </div>
                                            <div class="inner-img">
                                              <img style="    width: 112px;" src="../../../assets/img/ico/sushiswap.png">
                                            </div>
                                             <div class="inner-text">
                                              <h2>0.0000</h2>
                                            </div>
                                            <div class="inner-text-spn">
                                              <h4 style="color: #c23564;;">Sushi Earned</h4>
                                            </div>
                                          </div>
                                          <button style="    display: flex;
                                          margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
                        
                                          <div class="main-inner-second-col">
                                            <div class="first-row">
                                              <div class="first-val-col" style="width: 56px;color: green;">
                                                APR:
                                              </div>
                                              <div class="first-val-col">
                                                120.49%
                                              </div>
                                            </div>
                                            <div class="first-row">
                                              <div class="first-val-col" style="color: green;">
                                                Your Stake:
                                              </div>
                                              <div class="first-val-col ml-2">
                                                0.0000
                                              </div>
                                            </div>
                                          </div>
                                          <hr style="background: white;">
                                          <div class="visit">
                                            <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-4">
                                      <div class="card  zap-card">
                                        <div class="card  zap-card">
                                          <div class="card-body">
                                            <div class="inner-card">
                                              <div class="inner-text">
                                                <h2 style="color: #c23564;">Alchemix Pool</h2>
                                                <hr style="background: white;">
                                              </div>
                                              <div class="inner-img">
                                                <img style="    width: 112px;" src="../../../assets/img/ico/alchemix.png">
                                              </div>
                                               <div class="inner-text">
                                                <h2>0.0000</h2>
                                              </div>
                                              <div class="inner-text-spn">
                                                <h4 style="color: #c23564;;">Alchemix Earned</h4>
                                              </div>
                                            </div>
                                            <button style="    display: flex;
                                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
                          
                                            <div class="main-inner-second-col">
                                              <div class="first-row">
                                                <div class="first-val-col" style="width: 56px;color: green;">
                                                  APR:
                                                </div>
                                                <div class="first-val-col">
                                                  120.49%
                                                </div>
                                              </div>
                                              <div class="first-row">
                                                <div class="first-val-col" style="color: green;">
                                                  Your Stake:
                                                </div>
                                                <div class="first-val-col ml-2">
                                                  0.0000
                                                </div>
                                              </div>
                                            </div>
                                            <hr style="background: white;">
                                            <div class="visit">
                                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-4">
                                      <div class="card  zap-card">
                                        <div class="card  zap-card">
                                          <div class="card-body">
                                            <div class="inner-card">
                                              <div class="inner-text">
                                                <h2 style="color: #c23564;">DyDx Pool</h2>
                                                <hr style="background: white;">
                                              </div>
                                              <div class="inner-img">
                                                <img style="    width: 112px;" src="../../../assets/img/ico/dydx.png">
                                              </div>
                                               <div class="inner-text">
                                                <h2>0.0000</h2>
                                              </div>
                                              <div class="inner-text-spn">
                                                <h4 style="color: #c23564;;">DyDx Earned</h4>
                                              </div>
                                            </div>
                                            <button style="    display: flex;
                                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
                          
                                            <div class="main-inner-second-col">
                                              <div class="first-row">
                                                <div class="first-val-col" style="width: 56px;color: green;">
                                                  APR:
                                                </div>
                                                <div class="first-val-col">
                                                  120.49%
                                                </div>
                                              </div>
                                              <div class="first-row">
                                                <div class="first-val-col" style="color: green;">
                                                  Your Stake:
                                                </div>
                                                <div class="first-val-col ml-2">
                                                  0.0000
                                                </div>
                                              </div>
                                            </div>
                                            <hr style="background: white;">
                                            <div class="visit">
                                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>  
                                  </div>
                                </div>
                              </section>
                            </div>
                     
                            <div id="tab2" class="tab">
                              <section class="zap-sec">
                                <div class="container mt-5">
                                  <div class="row d-flex justify-content-center ">
                                    <div class="col-lg-4">
                                      <div class="card  zap-card">
                                        <div class="card  zap-card">
                                          <div class="card-body">
                                            <div class="inner-card">
                                              <div class="inner-text">
                                                <h2 style="color: #c23564;">Paraswapio Pool</h2>
                                                <hr style="background: white;">
                                              </div>
                                              <div class="inner-img">
                                                <img style="    width: 112px;" src="../../../assets/img/ico/paraswapio.png">
                                              </div>
                                               <div class="inner-text">
                                                <h2>0.0000</h2>
                                              </div>
                                              <div class="inner-text-spn">
                                                <h4 style="color: #c23564;;">Paraswapio Earned</h4>
                                              </div>
                                            </div>
                                            <button style="    display: flex;
                                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
                          
                                            <div class="main-inner-second-col">
                                              <div class="first-row">
                                                <div class="first-val-col" style="width: 56px;color: green;">
                                                  APR:
                                                </div>
                                                <div class="first-val-col">
                                                  120.49%
                                                </div>
                                              </div>
                                              <div class="first-row">
                                                <div class="first-val-col" style="color: green;">
                                                  Your Stake:
                                                </div>
                                                <div class="first-val-col ml-2">
                                                  0.0000
                                                </div>
                                              </div>
                                            </div>
                                            <hr style="background: white;">
                                            <div class="visit">
                                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-4">
                                      <div class="card  zap-card">
                                        <div class="card  zap-card">
                                          <div class="card-body">
                                            <div class="inner-card">
                                              <div class="inner-text">
                                                <h2 style="color: #c23564;">Dodov2 Pool</h2>
                                                <hr style="background: white;">
                                              </div>
                                              <div class="inner-img">
                                                <img style="    width: 112px;" src="../../../assets/img/ico/dodov2.png">
                                              </div>
                                               <div class="inner-text">
                                                <h2>0.0000</h2>
                                              </div>
                                              <div class="inner-text-spn">
                                                <h4 style="color: #c23564;;">Dodov2 Earned</h4>
                                              </div>
                                            </div>
                                            <button style="    display: flex;
                                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
                          
                                            <div class="main-inner-second-col">
                                              <div class="first-row">
                                                <div class="first-val-col" style="width: 56px;color: green;">
                                                  APR:
                                                </div>
                                                <div class="first-val-col">
                                                  120.49%
                                                </div>
                                              </div>
                                              <div class="first-row">
                                                <div class="first-val-col" style="color: green;">
                                                  Your Stake:
                                                </div>
                                                <div class="first-val-col ml-2">
                                                  0.0000
                                                </div>
                                              </div>
                                            </div>
                                            <hr style="background: white;">
                                            <div class="visit">
                                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-4">
                                      <div class="card  zap-card">
                                        <div class="card  zap-card">
                                          <div class="card-body">
                                            <div class="inner-card">
                                              <div class="inner-text">
                                                <h2 style="color: #c23564;">Tokenlon Pool</h2>
                                                <hr style="background: white;">
                                              </div>
                                              <div class="inner-img">
                                                <img style="    width: 112px;" src="../../../assets/img/ico/tokenlon.png">
                                              </div>
                                               <div class="inner-text">
                                                <h2>0.0000</h2>
                                              </div>
                                              <div class="inner-text-spn">
                                                <h4 style="color: #c23564;;">Tokenlon Earned</h4>
                                              </div>
                                            </div>
                                            <button style="    display: flex;
                                            margin: auto;" class="btn btn-primary"> Unlock Wallet</button>
                          
                                            <div class="main-inner-second-col">
                                              <div class="first-row">
                                                <div class="first-val-col" style="width: 56px;color: green;">
                                                  APR:
                                                </div>
                                                <div class="first-val-col">
                                                  120.49%
                                                </div>
                                              </div>
                                              <div class="first-row">
                                                <div class="first-val-col" style="color: green;">
                                                  Your Stake:
                                                </div>
                                                <div class="first-val-col ml-2">
                                                  0.0000
                                                </div>
                                              </div>
                                            </div>
                                            <hr style="background: white;">
                                            <div class="visit">
                                              <h4 style="text-decoration: underline;text-align: center;">Visit Website</h4>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>  
                                  </div>
                                </div>
                              </section>
                            
                            </div>
                     
                      
                     
                    
                        </div>
                    
                    </div>
                    
                </div>
         
              
         
          
         
        
            </div>
        
        </div>
        
        </section>
  
    </div>
    
  
  