
<div class="content">
  <div class="row" >
    <div class=" col-12">
      <div class=" card card-chart">
        <div>
          <div class="row">

            <div class=" col-sm-6">
            </div>
          </div>
        </div>
        <!-- <div class="main-banner-img">
          <div class="main-h1-tag">
            <h1 style="    color: rgb(255, 255, 255);
             font-size: 50px;
    max-width: 431px !important;
    font-family: Titan One, sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 97px;">
              Stake LP tokens to earn BANANA With ChampSwap
            </h1>
          </div>
        </div> -->

       
          
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 style=" color: rgb(255, 255, 255);
            font-size: 50px;
   max-width: 431px !important;
   font-family: Titan One, sans-serif;
   display: flex;
   justify-content: center;
   margin: auto;
   margin-top: 97px;">Your ChampSwap Area </h1>

            <ul style="list-style-type:none;" class="ml-3 mt-3" >
              <li>Keep track of your pools and farms.</li>
            </ul>
          </div>
          <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <img src="../../../assets/img/ico/../../../assets/img/ico/bandar_image_2.png">
          </div>
        </div>
      </div>
      <button style="    display: flex;
      margin: auto;" class="btn btn-primary mt-5"> Unlock Wallet</button>
      <!-- <hr style="background: #c23564;"> -->
      <!-- <div class="container">
        <div class="row">
          <div class="col-lg-12 search">
            <div class="search-top-section">
              <div class="row d-flex justify-content-md-around mr-5">
                <div class="search-input">
                  <label style="    width: 65px;">Search</label>
                  <input  type="text" class="inpu-search" value="">
                  <img style="    position: absolute;
                  top: 23px;
                  width: 32px;
                  height: 25px;
                  margin-left: -38px;" src="../../../assets/img/ico/search.svg">
                </div>
                <input type="checkbox" class="toggle">
                <div class="form-group">
                  <input type="checkbox" id="html">
                  <label for="html">Stacked</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->


  </div>
  

